<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/estiloGlobal.css">
<title>Juanita Jo | Registrate</title>
</head>

<body>
	<div class="contengoTodo">

		<header>
			<div class="contenedorLogoMenu">
			<a href="/home"><img id="logo" src="/img/logo.png" alt="Juanita Jo - Logo"></a></div>
			<div class="contenedorMenu">
           <nav>
          <a href="/usuarios/all">CLIENTES</a>
          <a href="/productos/all">PRODUCTOS</a>
          <a href="/faq">FAQ</a>
          <a href="/contact">CONTACTO</a>
          <a href="/carrito">CARRITO</a>
          </nav>
			</div>
		</header>


		<main class="centrameElRegistro">
			<h1>REGISTRATE</h1>

			<section class="contieneRegistro">

				<div class="contieneImgRegistro">
					<img src="/img/imgregistro.jpg" alt="Juanita Jo - Registro">
				</div>

				<div class="contieneFormRegistro">
					<form class="formRegistro" method="POST" th:action="@{/usuarios/add}" th:object="${usuario}"> <!--  solo se aclara action si se debe redirigir a otro sitio.-->
						<h2>
						<a href="/login">¿Ya tenés cuenta? ¡Iniciá Sesión!</a>
						</h2>
						<h3>Datos Personales</h3>
						<p>
					 	<label for="nombre"> Nombres </label> 
						<input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresá tus nombres" required>  
						<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="apellido"> Apellido </label> 
						<input th:field="*{apellido}" id="apellido" type="text" placeholder="Ingresá tus nombres" required>  
						<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="nacimiento"> Fecha de nacimiento </label> 
						<input th:field="*{fechaDeNacimiento}" id="fechaDeNacimiento" type="date" placeholder="Ingresá tu Fecha de Nacimiento" min="1900-01-01" max="2000-12-31" required>  
						<span th:if="${#fields.hasErrors('fechaDeNacimiento')}" th:errors="*{fechaDeNacimiento}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
							<label for="nacionalidad"> País de nacimiento </label> <select
								name="nacionalidad" id="nacionalidad" required>
								<option value="void">Seleccioná uno</option>
								<option value="ARG">Argentina</option>
								<option value="BOL">Bolivia</option>
								<option value="BRA">Brasil</option>
								<option value="CHI">Chile</option>
								<option value="URU">Uruguay</option>
							</select> 						
							<span th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="dni"> DNI (Sin separadores) </label> 
						<input th:field="*{dni}" id="dni" type="number" placeholder="Ingresá tu DNI" required>  
						<span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<h3>Datos de Contacto</h3>

						<p>
						<label for="domicilio"> Domicilio (Calle y Altura, Localidad y Código Postal, Provincia, País) </label>
						</p>
						<p>
						<input th:field="*{domicilio}" id="domicilio" type="text" placeholder="Privet Dr. 4 L. Whinging, Surrey SE16, Londres, Inglaterra." required>  
						<span th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="telFijo"> Teléfono Fijo (Código de área + número) </label> 
						<input th:field="*{telFijo}" id="telFijo" type="number" placeholder="541142223333" required>  
						<span th:if="${#fields.hasErrors('telFijo')}" th:errors="*{telFijo}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="telCelular"> Teléfono Celular (Código de área + número) </label> 
						<input th:field="*{telCelular}" id="telCelular" type="number" placeholder="5491142223333" required>  
						<span th:if="${#fields.hasErrors('telCelular')}" th:errors="*{telCelular}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<h3>Creación de Usuario</h3>

						<p>
						<label for="mail"> Dirección de correo electrónico (e-mail) </label> 	
						<input th:field="*{mail}" id="mail" type="email" placeholder="unmail@unmail.com" required>  
						<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="contrasenia"> Contraseña </label> 
						<input th:field="*{contrasenia}" id="contrasenia" type="password" placeholder=" " required>  
						<span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="contrasenia2"> Confirmar Contraseña </label> 
						<input id="contrasenia2" type="password" placeholder=" " name="contrasenia2" required>  
						<span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<!--   gregar otros campos requeridos por el der-->
						<h3>Suscribite</h3>

						<p>
							<label for="suscripcion"> ¿Querés suscribite a nuestro
								newsletter? (Podés desuscribirte cuando quieras)</label>
						</p>
						<p>
							<input id="suscribirmeCheck" type="checkbox" name="sus"
								value="suscribime"> Dale!
						<p>
							<label for="tipoDeSuscripcion">Me interesaría recibir info de...</label> 
							<input type="radio" name="gustos" value="suscarte"> Carteras 
							<input type="radio" name="gustos" value="susmochi"> Mochilas 
							<input type="radio" name="gustos" value="susbille"> Billeteras 
							<input type="radio" name="gustos" value="sustodo"> Todo
						</p>
						<p>
							<button class="botonRegistrar" type="submit" name="guardar" value="enviar">Enviar</button>
							<button class="botonBorrar" type="reset" name="borrar" value="borrar">Vaciar</button>
						</p>
					</form>
				</div>
			</section>

		</main>
		<footer>
			<div class="footerIconitosBellos">
				<div class="footercontengoIconitosBellos">
					<div class="contengoIconitoFooter">
						<img src="/img/footer1.jpg" alt="Envío a domicilio a todo el país">
						<p class="pIconitos">
							<span>ENVÍOS A TODO EL PAÍS</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer2.jpg" alt="Encontrá todas nuestras tiendas">
						<p class="pIconitos">
							<span><a href="contact">ENCONTRÁ
									NUESTRAS TIENDAS</a></span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer3.jpg" alt="Formá parte de Juanita Jo">
						<p class="pIconitos">
							<span>FORMÁ PARTE DE JUANITA JO</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer4.jpg" alt="Contacto Mayoristas">
						<p class="pIconitos">
							<span>CONTACTO PARA MAYORISTAS</span>
						</p>
					</div>
				</div>
			</div>

			<div class="contengoTodoLoDemásDelFooter">

				<div class="footerSeguinos">
					<div class="contengoFooterSeguinos">

						<h3>GRACIAS POR VISITARNOS</h3>
						<h4>REDES SOCIALES:</h4>
						<ul>
							<li><a href="https://www.facebook.com/juanitajofan"><i
									class="fab fa-facebook"></i>Facebook</a></li>
							<li><a href="https://www.instagram.com/juanitajooficial"><i
									class="fab fa-instagram"></i>Instagram</a></li>
							<li><a href="https://twitter.com/juanitajook"><i
									class="fab fa-twitter"></i>Twitter</a></li>
							<li><a
								href="https://api.whatsapp.com/send?phone=541128862455"><i
									class="fab fa-whatsapp"></i>WhatsApp</a></li>
						</ul>
						<a href="perfilCliente">Suscribite a nuestro
							Newsletter</a>
						<form class="suscribiteMini"
							action="perfilCliente" method="post">
							<p><input class="inputEmailSus" type="email" name="email" value=""
								placeholder="tumail@mail.com" required>
							<button class="botonSuscribir" type="submit">Enviar</button>
							</p>
							<p class="pSuscribir">
								<span class="errorEmailSus"></span>
							</p>
						</form>
					</div>

				</div>


				<div class="footerMapaDelSitio">
					<div class="contengoFooterMapaDelSitio">
						<ul>
							<h3>MAPA DEL SITIO</h3>
							<li><a href="/home"> HOME</a></li>
							<li><a href="/faq"> FAQ</a></li>
							<li><a href="/usuarios/add"> REGISTRATE</a></li>
							<li><a href="/login"> LOGIN</a></li>
							<li><a href="/contact"> CONTACTO</a></li>
							<li><a href="/perfilCliente"> MI PERFIL</a></li>
						</ul>
					</div>
				</div>

				<div class="footerInfo">
					<div class="contengoFooterInfo">
						<p>Juanita Jo es una marca registrada, © 2019.</p>
						<p>
							<a href="https://juanitajo.com">https://juanitajo.com</a>
						<p>Diseño y desarrollo por TUVI!</p>
					</div>
				</div>
			</div>

		</footer>
	</div>

	<script>
	<!-- VALIDACIONES DEL FORM DE REGISTRO DE CLIENTE EN JAVASCRIPT 
	<script>
    window.addEventListener('load',function(){
      var botRegistrar = document.querySelector("button.botonRegistrar");
      var botBorrar = document.querySelector("button.botonBorrar");

    //  var //posiblesErrores = false;
      var nombre = document.querySelector("input#nombre");
      //  var nombreV = document.querySelector("input#nombre").value;
      var apellido = document.querySelector("input#apellido");
      //  var apellidoV = document.querySelector("input#apellido").value;
      var nacionalidad = document.querySelector("select#nacionalidad");
      var nacionalidadOpciones = nacionalidad.options;
      var dni = document.querySelector("input#dni");
      //  var dniV = document.querySelector("input#dni").value;
      var nacimiento = document.querySelector("input#nacimiento");
      var domicilio = document.querySelector("input#domicilio");
      var telefono = document.querySelector("input#telefono");
      var telefono2 = document.querySelector("input#telefono2");
      var mail = document.querySelector("input#mail");
      var contrasena = document.querySelector("input#contrasena");
      var contrasena2 = document.querySelector("input#contrasena2");

      var errorNombre = document.querySelector("span.errorNombre");
      var errorApellido = document.querySelector("span.errorApellido");
      var errorNacionalidad = document.querySelector("span.errorNacionalidad");
      var errorDNI = document.querySelector("span.errorDNI");
      var errorNacimiento = document.querySelector("span.errorNacimiento");
      var errorDomicilio = document.querySelector("span.errorDomicilio");
      var errorTelefono = document.querySelector("span.errorTelefono");
      var errorTelefono2 = document.querySelector("span.errorTelefono2");
      var errorEmail = document.querySelector("span.errorEmail");
      var errorPassword = document.querySelector("span.errorPassword");

      var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
      var regexPassword = /^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$/;
      var regexDNI = /^\d{1,8}(?:[-\s]\d{4})?$/;
      var regexTel = /^\d{8,12}(?:[-\s]\d{4})?$/;
      var regexTelCel = /^\d{9,13}(?:[-\s]\d{4})?$/;
      var checkBoxSuscribe = document.querySelector("input#suscribirmeCheck");
      var enviarNewsletterA;


      dni.addEventListener('blur',function(evento){
        if(dni.value.length > 6 && dni.value.length < 9 && (regexDNI.test(dni.value))){
          errorDNI.innerHTML = "";
          dni.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if (dni.value == ""){
          evento.preventDefault();
          errorDNI.innerHTML = "Tu DNI es <strong>obligatorio</strong>.";
          dni.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          evento.preventDefault();
          errorDNI.innerHTML = "Tu DNI <strong>no</strong> es válido."; //cuando ingreso "1.111.111" deberia retornarme ésta alerta, no obstante, devuelve la anterior.
          dni.style.border = "1px solid red";
          //posiblesErrores = true;
        }
      });

      nacimiento.addEventListener('blur',function(evento){
        if(nacimiento.value==""){
          evento.preventDefault();
          //errorNacimiento.style.color = "red";
          errorNacimiento.innerHTML = "Seleccionar una fecha de nacimiento es <strong>obligatorio</strong>.";
          nacimiento.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNacimiento.innerHTML = "";
          nacimiento.style.border = "1px solid grey";
          //errorNacimiento.style.color = "green";
          //posiblesErrores = false;
        }
      });

      nacionalidad.addEventListener('blur',function(evento){
        if(nacionalidadOpciones.selectedIndex == 0){
          evento.preventDefault();
          errorNacionalidad.innerHTML = "Seleccionar un país es <strong>obligatorio</strong>.";
          nacionalidad.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNacionalidad.innerHTML = "";
          nacionalidad.style.border = "1px solid grey";
          //posiblesErrores = false;
        }
      });

      nombre.addEventListener('blur',function(evento){
        if(nombre.value.trim()==""){
          evento.preventDefault();
          errorNombre.innerHTML = "Ingresar al menos un nombre es <strong>obligatorio</strong>.";
          nombre.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if (nombre.value.length < 2){
          evento.preventDefault();
          errorNombre.innerHTML = "Tu nombre es demasiado corto.";
          nombre.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNombre.innerHTML = "";
          nombre.style.border = "1px solid grey";
          //posiblesErrores = false;
        }
      });

      apellido.addEventListener('blur',function(evento){
        if(apellido.value.trim()==""){
          evento.preventDefault();
          errorApellido.innerHTML = "Ingresar al menos un apellido es <strong>obligatorio</strong>.";
          apellido.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if (apellido.value.length < 2){
          evento.preventDefault();
          errorApellido.innerHTML = "Tu apellido es demasiado corto.";
          apellido.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorApellido.innerHTML = "";
          apellido.style.border = "1px solid grey";
          //posiblesErrores = false;
        }
      });

      domicilio.addEventListener('blur',function(evento){
        if (domicilio.value.length < 20){
          evento.preventDefault();
          errorDomicilio.innerHTML = "Tu domicilio no está completo.";
          domicilio.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorDomicilio.innerHTML = "";
          domicilio.style.border = "1px solid grey";
          //posiblesErrores = false;
        }
      });

      mail.addEventListener('blur',function(evento){
        if(regexEmail.test(mail.value)){
          errorEmail.innerHTML = "";
          mail.style.border = "1px solid grey";
          //posiblesErrores = false;
          if (checkBoxSuscribe.checked == true){
            enviarNewsletterA = mail.value;
          }
        } else if (mail.value == ""){
          evento.preventDefault();
          errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
          mail.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          evento.preventDefault();
          errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
          mail.style.border = "1px solid red";
          //posiblesErrores = true;
        }
      });

      telefono.addEventListener('blur',function(evento){
        if(telefono.value.length > 7 && telefono.value.length < 13 && (regexTel.test(telefono.value))){
          errorTelefono.innerHTML = "";
          telefono.style.border = "1px solid grey";
          errorTelefono2.innerHTML = "";
          telefono2.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if (telefono.value == ""){
              if (telefono2.value == ""){
          evento.preventDefault();
          errorTelefono.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono.style.border = "1px solid red";
          errorTelefono2.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono2.style.border = "1px solid red";
          //posiblesErrores = true;
          }
        } else {
          evento.preventDefault();
          errorTelefono.innerHTML = "El teléfono ingresado <strong>no</strong> es válido.";
          telefono.style.border = "1px solid red";
          //posiblesErrores = true;
        }
      });

      telefono2.addEventListener('blur',function(evento){
        if(telefono2.value.length > 8 && telefono2.value.length < 14 && (regexTelCel.test(telefono2.value))){
          errorTelefono2.innerHTML = "";
          telefono2.style.border = "1px solid grey";
          errorTelefono.innerHTML = "";
          telefono.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if (telefono2.value == ""){
              if (telefono.value == ""){
          evento.preventDefault();
          errorTelefono2.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono2.style.border = "1px solid red";
          errorTelefono.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono.style.border = "1px solid red";
          //posiblesErrores = true;
          }
        } else {
          evento.preventDefault();
          errorTelefono2.innerHTML = "El teléfono ingresado <strong>no</strong> es válido.";
          telefono2.style.border = "1px solid red";
          //posiblesErrores = true;
          }
      });

      contrasena2.addEventListener('blur',function(evento){
        if((regexPassword.test(contrasena.value)) && contrasena.value == contrasena2.value){
          errorPassword.innerHTML = "";
          contrasena.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if(contrasena.value == "" || contrasena2.value == ""){
          evento.preventDefault();
          errorPassword.innerHTML = "Ingresar ambas contraseñas es <strong>obligatorio</strong>.";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if(contrasena.value != contrasena2.value){
          evento.preventDefault();
          errorPassword.innerHTML = "Las contraseñas ingresadas <strong>no</strong> coinciden.";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          errores = true;
        } else {
          evento.preventDefault();
          errorPassword.innerHTML = "Tu contraseña <strong>no</strong> cumple con los requisitos definidos por la entidad (Tener entre 8 y 16 caracteres, al menos 1 número, 1 minúscula, 1 mayúscula y 1 caracter especial).";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          //posiblesErrores = true;
        }
      });

      botRegistrar.addEventListener('click',function(evento){
        if(nombre.value.trim()==""){
          evento.preventDefault();
          errorNombre.innerHTML = "Ingresar al menos un nombre es <strong>obligatorio</strong>.";
          nombre.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if (nombre.value.length < 2){
          evento.preventDefault();
          errorNombre.innerHTML = "Tu nombre es demasiado corto.";
          nombre.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNombre.innerHTML = "";
          nombre.style.border = "1px solid grey";
          errorNombre.style.color = "green";
          //posiblesErrores = false;
        }
        if(apellido.value.trim()==""){
          evento.preventDefault();
          errorApellido.innerHTML = "Ingresar al menos un apellido es <strong>obligatorio</strong>.";
          apellido.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if (apellido.value.length < 2){
          evento.preventDefault();
          errorApellido.innerHTML = "Tu apellido es demasiado corto.";
          apellido.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorApellido.innerHTML = "";
          apellido.style.border = "1px solid grey";
          errorApellido.style.color = "green";
          //posiblesErrores = false;
        }
        if(regexEmail.test(mail.value)){
          errorEmail.innerHTML = "";
          mail.style.border = "1px solid grey";
          errorEmail.style.color = "green";
          //posiblesErrores = false;
        } else if (mail.value == ""){
          evento.preventDefault();
          errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
          mail.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          evento.preventDefault();
          errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
          mail.style.border = "1px solid red";
          //posiblesErrores = true;
        }
        if(dni.value.length > 6 && dni.value.length < 9 && (regexDNI.test(dni.value))){
          errorDNI.innerHTML = "";
          dni.style.border = "1px solid grey";
          errorDNI.style.color = "green";
          //posiblesErrores = false;
        } else if (dni.value == ""){
          evento.preventDefault();
          errorDNI.innerHTML = "Tu DNI es <strong>obligatorio</strong>.";
          dni.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          evento.preventDefault();
          errorDNI.innerHTML = "Tu DNI <strong>no</strong> es válido.";
          dni.style.border = "1px solid red";
          //posiblesErrores = true;
        }
        if(telefono.value.length > 7 && telefono.value.length < 13 && (regexTel.test(telefono.value))){
          errorTelefono.innerHTML = "";
          telefono.style.border = "1px solid grey";
          errorTelefono2.innerHTML = "";
          telefono2.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if (telefono.value == ""){
              if (telefono2.value == ""){
          evento.preventDefault();
          errorTelefono.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono.style.border = "1px solid red";
          errorTelefono2.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono2.style.border = "1px solid red";
          //posiblesErrores = true;
          }
        } else {
          evento.preventDefault();
          errorTelefono.innerHTML = "El teléfono ingresado <strong>no</strong> es válido.";
          telefono.style.border = "1px solid red";
          //posiblesErrores = true;
        }
        if(telefono2.value.length > 8 && telefono2.value.length < 14 && (regexTelCel.test(telefono2.value))){
          errorTelefono2.innerHTML = "";
          telefono2.style.border = "1px solid grey";
          errorTelefono.innerHTML = "";
          telefono.style.border = "1px solid grey";
          //posiblesErrores = false;
        } else if (telefono2.value == ""){
              if (telefono.value == ""){
          evento.preventDefault();
          errorTelefono2.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono2.style.border = "1px solid red";
          errorTelefono.innerHTML = "Ingresar un teléfono es <strong>obligatorio</strong>.";
          telefono.style.border = "1px solid red";
          //posiblesErrores = true;
          }
        } else {
          evento.preventDefault();
          errorTelefono2.innerHTML = "El teléfono ingresado <strong>no</strong> es válido.";
          telefono2.style.border = "1px solid red";
          //posiblesErrores = true;
          }
        if (domicilio.value.length < 20){
          evento.preventDefault();
          errorDomicilio.innerHTML = "Tu domicilio no está completo.";
          domicilio.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorDomicilio.innerHTML = "";
          domicilio.style.border = "1px solid grey";
          errorDomicilio.style.color = "green";
          //posiblesErrores = false;
        }
        if((regexPassword.test(contrasena.value)) && contrasena.value == contrasena2.value){
          errorPassword.innerHTML = "";
          contrasena.style.border = "1px solid grey";
          errorPassword.style.color = "green";
          //posiblesErrores = false;
        } else if(contrasena.value == "" || contrasena2.value == ""){
          evento.preventDefault();
          errorPassword.innerHTML = "Ingresar ambas contraseñas es <strong>obligatorio</strong>.";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          //posiblesErrores = true;
        } else if(contrasena.value != contrasena2.value){
          evento.preventDefault();
          errorPassword.innerHTML = "Las contraseñas ingresadas <strong>no</strong> coinciden.";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          errores = true;
        } else {
          evento.preventDefault();
          errorPassword.innerHTML = "Tu contraseña <strong>no</strong> cumple con los requisitos definidos por la entidad (Tener entre 8 y 16 caracteres, al menos 1 número, 1 minúscula, 1 mayúscula y 1 caracter especial).";
          contrasena.style.border = "1px solid red";
          contrasena2.style.border = "1px solid red";
          //posiblesErrores = true;
        }
        if(nacionalidadOpciones.selectedIndex == 0){
          evento.preventDefault();
          errorNacionalidad.innerHTML = "Seleccionar un país es <strong>obligatorio</strong>.";
          nacionalidad.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNacionalidad.innerHTML = "";
          nacionalidad.style.border = "1px solid grey";
          errorNacionalidad.style.color = "green";
          //posiblesErrores = false;
        }
        if(nacimiento.value==""){
          evento.preventDefault();
          errorNacimiento.innerHTML = "Seleccionar una fecha de nacimiento es <strong>obligatorio</strong>.";
          nacimiento.style.border = "1px solid red";
          //posiblesErrores = true;
        } else {
          errorNacimiento.innerHTML = "";
          nacimiento.style.border = "1px solid grey";
          errorNacimiento.style.color = "green";
          //posiblesErrores = false;
        }
    //if(!posiblesErrores){
    //console.log("Conectado. Bienvenido.");
    //}
  });

  botBorrar.addEventListener('click',function(evento){
    //posiblesErrores = false;
    errorNombre.innerHTML = "";
    nombre.style.border = "1px solid grey";
    errorApellido.innerHTML = "";
    apellido.style.border = "1px solid grey";
    errorEmail.innerHTML = "";
    mail.style.border = "1px solid grey";
    errorDNI.innerHTML = "";
    dni.style.border = "1px solid grey";
    errorTelefono.innerHTML = "";
    telefono.style.border = "1px solid grey";
    errorTelefono2.innerHTML = "";
    telefono2.style.border = "1px solid grey";
    errorDomicilio.innerHTML = "";
    domicilio.style.border = "1px solid grey";
    errorPassword.innerHTML = "";
    contrasena.style.border = "1px solid grey";
    contrasena2.style.border = "1px solid grey";
    errorNacionalidad.innerHTML = "";
    nacionalidad.style.border = "1px solid grey";
    errorNacimiento.innerHTML = "";
    nacimiento.style.border = "1px solid grey";
  });
  var botSuscribir = document.querySelector("button.botonSuscribir");

  botSuscribir.addEventListener('click',function(evento){
    var email = document.querySelector("input.inputEmailSus");
    var errorEmail = document.querySelector("span.errorEmailSus");
    var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

    if(regexEmail.test(email.value)){
      errorEmail.innerHTML = "";
      email.style.border = "1px solid grey";
      errorEmail.style.color = "green";
      posiblesErrores = false;
      if (checkBoxR.checked == true){
        var rememberEmail = email.value;
      }
    } else if (email.value == ""){
      evento.preventDefault();
      errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
      email.style.border = "1px solid red";
      errorEmail.style.color = "red";
      posiblesErrores = true;
    } else {
      evento.preventDefault();
      errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
      email.style.border = "1px solid red";
      errorEmail.style.color = "red";
      posiblesErrores = true;
    }
  });
})
-->
		window.addEventListener("load",function() {
			var botSuscribir = document.querySelector("button.botonSuscribir");
			botSuscribir.addEventListener('click',	function(evento) {
												var email = document
														.querySelector("input.inputEmailSus");
												var errorEmail = document
														.querySelector("span.errorEmailSus");
												var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

												if (regexEmail
														.test(email.value)) {
													errorEmail.innerHTML = "";
													email.style.border = "1px solid grey";
													errorEmail.style.color = "green";
													posiblesErrores = false;
													if (checkBoxR.checked == true) {
														var rememberEmail = email.value;
													}
												} else if (email.value == "") {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												} else {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												}
											});
						});
	</script>
</body>
</html>