<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Todos los clientes</title>
  </head>
  <body>
    <h1>Lista de todos los clientes</h1>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">fechaDeNacimiento</th>
      <th scope="col">nacionalidad</th>
      <th scope="col">dni</th>
      <th scope="col">domicilio</th>
      <th scope="col">telFijo</th>
      <th scope="col">telCelular</th>
      <th scope="col">mail</th>
      <th scope="col">contraseña</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="unUsuario:${listaDeUsuarios}">
      <th scope="row" th:text="${unUsuario.id}">ux</th>
      <td th:text="${unUsuario.nombre}"></td>
      <td th:text="${unUsuario.apellido}"></td>
      <td th:text="${unUsuario.fechaDeNacimiento}"></td>
      <td th:text="${unUsuario.nacionalidad}"></td>
      <td th:text="${unUsuario.dni}"></td>
      <td th:text="${unUsuario.domicilio}"></td>
      <td th:text="${unUsuario.telFijo}"></td>
      <td th:text="${unUsuario.telCelular}"></td>
      <td th:text="${unUsuario.mail}"></td>
      <td th:text="${unUsuario.contraseña}"></td>
      
   
  </tbody>
</table>

  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>