<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/estiloGlobal.css">
<title>Juanita Jo | E-Commerce</title>
</head>

<body>
  <div class="contengoTodo">
    <header><!--es el primer hijo de mi sitio, pq es lo primero q lee.  |<a href="registro.html"> REGISTRATE</a> <a href="clientProfile.html"> MI PERFIL</a>| <a href="home.html"> HOME</a>|     -->
      <div class="contenedorLogin">
        <a href="login.html">INICIAR SESIÓN</a>
      </div>
      <div class="contenedorLogoMenu">
		<a th:href="@{http://localhost:50/home.html}"><img id="logo" src="/img/logo.png" alt="Juanita Jo - Logo"></a></div>
        <div class="contenedorMenu">
          <nav>
          <a th:href="@{http://localhost:50/usuarios/add}">CLIENTES</a><a th:href="@{http://localhost:50/productos/add}">PRODUCTOS</a><a th:href="@{http://localhost:50/faq.html}">FAQ</a><a th:href="@{http://localhost:50/contact.html}">CONTACTO</a><a class="carritoMenu" th:href="@{http://localhost:50/shoppingCart.html}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </nav>
                  </div>
      </header>

      <main class="centrameElFAQ">
        <h1 align="center">PREGUNTAS FRECUENTES</h1>

        <h2 class="h2FAQ">¿Los productos pueden cambiarse?</h2>
        <p class="answerFAQp">Los productos pueden ser devueltos dentro de los 10 días de la compra (sólo online).
          Los cambios se realizan hasta 30 días después de la entrega (tanto online como en las sucursales oficiales).
          Deben tener su packaging intacto y ser acompañados por ticket de cambio o factura.
          Deberá consultarse el local de cambio correspondiente escribiendo a <a class="" href="mailto:ecommerce@juanitajo.com">ecommerce@juanitajo.com</a>.</p>

          <h2 class="h2FAQ">¿Cuáles son las opciones de pago?</h2>
          <p class="answerFAQp">Los pagos se realizan a través de Mercado Pago.</p>

          <ul>Podrás abonar los productos:
            <li class="answerFAQp">Con tarjeta de crédito: Las condiciones de cuotas e interés podés verlas en:
              <a href="https://www.mercadopago.com.ar/promociones"> https://www.mercadopago.com.ar/promociones</a></li>
              <li class="answerFAQp">En efectivo: a través de Pago Fácil, Rapipago, Provincia Pagos o en algún cajero automático de la Red Link.
                En este caso la acreditación puede tardar hasta 3 días hábiles.</li>
                <li class="answerFAQp">Con saldo pre-cargado en tu cuenta de Mercado Pago: podés cargar saldo en tu cuenta de Mercado Pago. La acreditación es instantánea.</li></ul>
                <p class="answerFAQp">En todos los casos, el producto de se enviará luego de verificar la acreditación.</p>

                <p class="answerFAQp">Te garantizamos: Privacidad absoluta. Nadie verá los datos de tu tarjeta de crédito, jamás. Cumplimos con los estándares más exigentes de seguridad.


                  <h2 class="h2FAQ">¿Cómo hago para realizar mi compra?</h2>
                  <p class="answerFAQp">Podés navegar libremente y haciendo clic en cada producto (“Quiero”), observar fotos, precio, colores, etc.
                    También tenés la oportunidad de buscar tu producto a través de palabras claves, según tu interés; escribiéndolas en el campo “Buscar” (arriba a la derecha).</p>

                    <p class="answerFAQp">Cuando decidiste qué producto querés (elegís color, cantidad, talle), hacés clic en comprar y ese producto se va a cargar en tu carrito.
                      Podés elegir continuar con la compra o finalizarla. Cuando decidas terminar con la misma, tendrás la oportunidad de borrar los productos de tu carrito, si así lo querés.
                      Te aparecerá un resumen. Para continuar con el pago, debés hacer clic en “Siguiente”.</p>

                      <p class="answerFAQp">Podrás registrarte o iniciar una sesión si ya lo hiciste en otra oportunidad. También podés comprar como invitado (sin necesidad de registros), eligiendo la opción
                        “Comprar como invitado”.</p>

                        <p class="answerFAQp">Finalmente elegís la dirección de entrega y facturación, el modo de envío o retiro en sucursal, y abonás.</p>

                        <h2 class="h2FAQ">¿Qué mails voy a recibir?</h2>
                        <ul><li class="answerFAQp">De bienvenida.</li>
                          <li class="answerFAQp">De confirmación de compra.</li>
                          <li class="answerFAQp">De confirmación de despacho o aviso de retiro por sucursal.</li></ul>

                          <h2 class="h2FAQ">¿Cómo funciona el sistema de "Retiro en Sucursal"?</h2>
                          <p class="answerFAQp">Podés elegir entre nuestras sucursales ofrecidas como puntos de Pick Up Stores.
                            La compra podrá ser retirada a partir de las 48 horas hábiles de haberse acreditado el pago.
                            Te enviaremos un mail indicándote a partir de qué día y horario podés pasar a buscar la compra.</p>

                            <h2 class="h2FAQ">¿Cómo funciona el sistema de "Envío a Domicilio"?</h2>
                            <p class="answerFAQp">El costo varía según volumen, peso y distancia. Podés elegir retiros por sucursales de los correos. Te enviaremos el número de tracking por mail.
                              La demora mínima es de 5 días hábiles desde la acreditación de la compra.
                              La empresa de logística le entregará el producto a cualquier adulto que se encuentre en el domicilio.</p>

                              <h2 class="h2FAQ">¿Qué sucede si no me encuentro en mi domicilio cuando me entregan el pedido?</h2>
                              <p class="answerFAQp">Tu pedido debe ser recibido por cualquier persona mayor de 18 años que se encuentre en el domicilio registrado.
                                De no encontrarse nadie en el momento de la entrega, el correo dejará un aviso de visita. Se harán dos visitas sin costo adicional.</p>

                                <h2 class="h2FAQ">¿Cómo recupero mi contraseña?</h2>
                                <ul>Para recuperar tu contraseña, debés:
                                  <li class="answerFAQp">Hacer click en: ¿Olvidaste la contraseña?</li>
                                  <li class="answerFAQp">Escribir el mail con el que te registraste.</li>
                                  <li class="answerFAQp">Hacer click en “Recuperar”.</li>
                                  <li class="answerFAQp">Te llegará una contraseña nueva a tu casilla de correo electrónico.</li></ul>

                                  <h2 class="h2FAQ">¿Los productos tienen garantía?</h2>
                                  <p class="answerFAQp">Los productos tienen garantía de 6 meses por defectos de fabricación. Para hacerla efectiva deberá presentarse un comprobante de la compra, sin excepción.
                                    (Válido tanto para las compras online como las que se realizan en las sucursales físicas)</p>

                                    <h2 class="h2FAQ">¿Los precios son los mismos en todas las sucursales?</h2>
                                    <p class="answerFAQp">Cada sucursal puede tener diferentes promociones y descuentos.</p>

                                    <h2 class="h2FAQ">¿Si compré un producto en un local multimarca, puedo cambiarlo en Juanita Jo?</h2>
                                    <p class="answerFAQp">No, deberá ser cambiado en el local donde se efectuó la compra.</p>

                                    <h2 class="h2FAQ">¿Dónde puedo hacer consultas o reclamos? (Válido tanto para las compras online, como las que se realizan en las sucursales físicas.)</h2>
                                    <p class="answerFAQp">  En el siguiente link:<a href="contact.html"> https://juanitajo.com/contacto</a></p>

                                    <div class="popUp">
                                      <a href="contact.html#escribinos"><img src="img/carta.png" alt="¿No encontrás tu Respuesta? ¡Escribinos!"</a>
                                    </div>
                                  </main>

                                  <footer><!--etiqueta de bloque q ocupa el 100% del ancho-->
                                <div class="footerIconitosBellos">
                                <div class="footercontengoIconitosBellos">
                                <div class="contengoIconitoFooter">
                                <img src="img/footer1.jpg" alt="Envío a domicilio a todo el país">
                                <p class="pIconitos"><span>ENVÍOS A TODO EL PAÍS</span></p>
                                </div>
                                <div class="contengoIconitoFooter">
                                <img src="img/footer2.jpg" alt="Encontrá todas nuestras tiendas">
                                <p class="pIconitos"><span><a href="contact.html#sucursales">ENCONTRÁ NUESTRAS TIENDAS</a></span></p>
                                </div>
                                <div class="contengoIconitoFooter">
                                <img src="img/footer3.jpg" alt="Formá parte de Juanita Jo">
                                <p class="pIconitos"><span>FORMÁ PARTE DE JUANITA JO</span></p>
                                </div>
                                <div class="contengoIconitoFooter">
                                <img src="img/footer4.jpg" alt="Contacto Mayoristas">
                                <p class="pIconitos"><span>CONTACTO PARA MAYORISTAS</span></p>
                                </div>
                                </div>
                                </div>

                                <div class="contengoTodoLoDemásDelFooter">

                                    <div class="footerSeguinos">
                                      <div class="contengoFooterSeguinos">

                                      <h3>GRACIAS POR VISITARNOS</h3>
                                      <h4>REDES SOCIALES</h4>
                                      <nav><a href="https://www.facebook.com/juanitajofan"><i class="fab fa-facebook"></i></a>
                                      <a href="https://www.instagram.com/juanitajooficial"><i class="fab fa-instagram"></i></a>
                                      <a href="https://twitter.com/juanitajook"><i class="fab fa-twitter"></i></a>
                                      <a href="https://api.whatsapp.com/send?phone=541128862455"><i class="fab fa-whatsapp"></i></a></nav>
                                      <a href="clientProfile.html#suscribite">Suscribite a nuestro Newsletter</a>
                                      <form class="suscribiteMini" action="clientProfile.html#suscribite" method="post">
                                        <input class="inputEmailSus" type="email" name="email" value="" placeholder="tumail@mail.com" required>
                                        <button class= "botonSuscribir" type="submit">Enviar</button></p>
                                        <p class="pSuscribir"><span class="errorEmailSus"></span></p>
                                      </form>
                                    </div>

                                    </div>


                                    <div class="footerMapaDelSitio">
                                      <div class="contengoFooterMapaDelSitio">

               <ul>
						<h3>MAPA DEL SITIO</h3>
							<li><a th:href="@{http://localhost:50/home.html}"> HOME</a></li>
							<li><a th:href="@{http://localhost:50/faq.html}"> FAQ</a></li>
							<li><a th:href="@{http://localhost:50/usuarios/add}"> REGISTRATE</a></li>
							<li><a th:href="@{http://localhost:50/login.html}"> LOGIN</a></li>
							<li><a th:href="@{http://localhost:50/contact.html}"> CONTACTO</a></li>
							<li><a th:href="@{http://localhost:50/perfilCliente.html}"> MI PERFIL</a></li>
						</ul>
                                    </div>
                                  </div>

                                    <div class="footerInfo">
                                      <div class="contengoFooterInfo">
                                      <p>Juanita Jo es una marca registrada, © 2019.</p>
							<a th:href="@{https://juanitajo.com}">https://juanitajo.com</a>
                                        <p>Diseño y desarrollo por TUVI!</p>
                                      </div>
                                        </div>


                                    </footer>
                                  </div>
                                </div>

                                  <script>
                                  window.addEventListener("load", function(){
                                    var botSuscribir = document.querySelector("button.botonSuscribir");

                                    botSuscribir.addEventListener('click',function(evento){
                                      var email = document.querySelector("input.inputEmailSus");
                                      var errorEmail = document.querySelector("span.errorEmailSus");
                                      var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

                                      if(regexEmail.test(email.value)){
                                        errorEmail.innerHTML = "";
                                        email.style.border = "1px solid grey";
                                        errorEmail.style.color = "green";
                                        posiblesErrores = false;
                                        if (checkBoxR.checked == true){
                                          var rememberEmail = email.value;
                                        }
                                      } else if (email.value == ""){
                                        evento.preventDefault();
                                        errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
                                        email.style.border = "1px solid red";
                                        errorEmail.style.color = "red";
                                        posiblesErrores = true;
                                      } else {
                                        evento.preventDefault();
                                        errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
                                        email.style.border = "1px solid red";
                                        errorEmail.style.color = "red";
                                        posiblesErrores = true;
                                      }
                                    });
                                  });
                                  </script>
                                </body>
</html>