<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/estiloGlobal.css">
<title>Juanita Jo | Perfil de Cliente</title>
</head>

<body id=bodyContact>
	<div class="contengoTodo">

		<header>
			<!--es el primer hijo de mi sitio, pq es lo primero q lee.  |<a href="registro.html"> REGISTRATE</a> <a href="clientProfile.html"> MI PERFIL</a>| <a href="home.html"> HOME</a>|     -->
			<div class="contenedorLogin">
				<a href="home.html">CERRAR SESIÓN</a>
			</div>
			<div class="contenedorLogoMenu">
		<a th:href="@{http://localhost:50/home.html}"><img id="logo" src="/img/logo.png" alt="Juanita Jo - Logo"></a></div>
			<div class="contenedorMenu">
			          <nav>
          <a th:href="@{http://localhost:50/registroClientes/add}">CLIENTES</a><a th:href="@{http://localhost:50/registroProductos/add}">PRODUCTOS</a><a th:href="@{http://localhost:50/faq.html}">FAQ</a><a th:href="@{http://localhost:50/contact.html}">CONTACTO</a><a class="carritoMenu" th:href="@{http://localhost:50/shoppingCart.html}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </nav>
			</div>
		</header>

		<main class="mainClientProfile" align="center">
			<h1 align="center">PERFIL DE CLIENTE</h1>

			<section class="contieneRegistro">


				<h2 class="h2Client">¡Hola, XXXX!</h2>
				<p class="linksProfile">ÚLTIMO INGRESO: XX/XX/XXXX</p>
				<a class="linksProfile" href="#"><p>HISTORIAL DE COMPRAS >></p></a>


				<h3 class="linksProfile">CONFIGURACIÓN</h3>
				<ul>
					<li><a class="linksProfile" href="#">Tus Datos Personales</a></li>
					<li><a class="linksProfile" href="#">Tus Medios de Pago</a></li>
				</ul>

				<form action="#" method="post">

					<p>
						<label for="suscripcion" id="suscribite"> ¿Querés
							suscribite a nuestro newsletter? (Podés desuscribirte cuando
							quieras)</label>
					</p>
					<p>
						<input type="checkbox" name="sus" value="suscribime">
						Dale!
					<p>
						<label for="tipoDeSuscripcion">Me interesaría recibir info
							de...</label>
					</p>
					<p>
						<input type="radio" name="gustos" value="suscarte">
						Carteras <input type="radio" name="gustos" value="susmochi">
						Mochilas <input type="radio" name="gustos" value="susbille">
						Billeteras <input type="radio" name="gustos" value="sustodo">
						Todo
					</p>

					<p>
						<button class="botonRegistrar" type="submit" name="guardar"
							value="enviar">Guardar</button>
						<button class="botonRegistrar" type="reset" name="borrar"
							value="borrar">Vaciar</button>
					</p>

				</form>

				<i>Productos que quizá te interesen:</i>
				<section class="previewDeProductos">
					<!-- creo un nuevo padre que contenga a todos los productos-->
					<article class="previewUnProducto">
						<!-- cada producto va a ser un articulo-->
						<img class="imgPreviewProducto" src="img/mochila1a.jpg"
							alt="producto">
						<!--cada art va a tener dentro una imagen del producto, el precio y el boton de comprar-->
						<h2>Mochila Riley</h2>
						<p class="price">$ 6.900 ARS</p>
						<a class="verMas" href="productDetail.html"><i
							class="fa fa-search" aria-hidden="true"></i> Quiero</a>
					</article>
					<article class="previewUnProducto">
						<!-- cada producto va a ser un articulo-->
						<img class="imgPreviewProducto" src="img/cartera1a.jpg"
							alt="producto">
						<!--cada art va a tener dentro una imagen del producto, el precio y el boton de comprar-->
						<h2>Cartera Klimt</h2>
						<p class="price">$ 5.500 ARS</p>
						<a class="verMas" href="productDetail.html"><i
							class="fa fa-search" aria-hidden="true"></i> Quiero</a>
					</article>
					<article class="previewUnProducto">
						<!-- cada producto va a ser un articulo-->
						<img class="imgPreviewProducto" src="img/billetera1a.jpg"
							alt="producto">
						<!--cada art va a tener dentro una imagen del producto, el precio y el boton de comprar-->
						<h2>Billetera Casual</h2>
						<p class="price">$ 2.700 ARS</p>
						<a class="verMas" href="productDetail.html"><i
							class="fa fa-search" aria-hidden="true"></i> Quiero</a>
					</article>
				</section>


			</section>

		</main>
		<footer>
			<!--etiqueta de bloque q ocupa el 100% del ancho-->
			<div class="footerIconitosBellos">
				<div class="footercontengoIconitosBellos">
					<div class="contengoIconitoFooter">
						<img src="/img/footer1.jpg" alt="Envío a domicilio a todo el país">
						<p class="pIconitos">
							<span>ENVÍOS A TODO EL PAÍS</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer2.jpg" alt="Encontrá todas nuestras tiendas">
						<p class="pIconitos">
							<span><a href="contact.html#sucursales">ENCONTRÁ
									NUESTRAS TIENDAS</a></span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer3.jpg" alt="Formá parte de Juanita Jo">
						<p class="pIconitos">
							<span>FORMÁ PARTE DE JUANITA JO</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer4.jpg" alt="Contacto Mayoristas">
						<p class="pIconitos">
							<span>CONTACTO PARA MAYORISTAS</span>
						</p>
					</div>
				</div>
			</div>

			<div class="contengoTodoLoDemásDelFooter">

				<div class="footerSeguinos">
					<div class="contengoFooterSeguinos">

						<h3>GRACIAS POR VISITARNOS</h3>
						<h4>REDES SOCIALES</h4>
						<nav>
							<a href="https://www.facebook.com/juanitajofan"><i
								class="fab fa-facebook"></i></a> <a
								href="https://www.instagram.com/juanitajooficial"><i
								class="fab fa-instagram"></i></a> <a
								href="https://twitter.com/juanitajook"><i
								class="fab fa-twitter"></i></a> <a
								href="https://api.whatsapp.com/send?phone=541128862455"><i
								class="fab fa-whatsapp"></i></a>
						</nav>
						<a href="clientProfile.html#suscribite">Suscribite a nuestro
							Newsletter</a>
						<form class="suscribiteMini"
							action="clientProfile.html#suscribite" method="post">
							<input class="inputEmailSus" type="email" name="email" value=""
								placeholder="tumail@mail.com" required>
							<button class="botonSuscribir" type="submit">Enviar</button>
							</p>
							<p class="pSuscribir">
								<span class="errorEmailSus"></span>
							</p>
						</form>
					</div>

				</div>


				<div class="footerMapaDelSitio">
					<div class="contengoFooterMapaDelSitio">

						<ul>
							<h3>MAPA DEL SITIO</h3>
							<li><a th:href="@{http://localhost:50/home.html}"> HOME</a></li>
							<li><a th:href="@{http://localhost:50/faq.html}"> FAQ</a></li>
							<li><a th:href="@{http://localhost:50/registroClientes/add}"> REGISTRATE</a></li>
							<li><a th:href="@{http://localhost:50/login.html}"> LOGIN</a></li>
							<li><a th:href="@{http://localhost:50/contact.html}"> CONTACTO</a></li>
							<li><a th:href="@{http://localhost:50/perfilCliente.html}"> MI PERFIL</a></li>
						</ul>
					</div>
				</div>

				<div class="footerInfo">
					<div class="contengoFooterInfo">
						<p>Juanita Jo es una marca registrada, © 2019.</p>
						<p>
							<a th:href="@{https://juanitajo.com}">https://juanitajo.com</a>
						<p>Diseño y desarrollo por TUVI!</p>
					</div>
				</div>
		</footer>
	</div>
	</div>

	<script>
		window
				.addEventListener(
						"load",
						function() {

							var botSuscribir = document
									.querySelector("button.botonSuscribir");

							botSuscribir
									.addEventListener(
											'click',
											function(evento) {
												var email = document
														.querySelector("input.inputEmailSus");
												var errorEmail = document
														.querySelector("span.errorEmailSus");
												var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

												if (regexEmail
														.test(email.value)) {
													errorEmail.innerHTML = "";
													email.style.border = "1px solid grey";
													errorEmail.style.color = "green";
													posiblesErrores = false;
													if (checkBoxR.checked == true) {
														var rememberEmail = email.value;
													}
												} else if (email.value == "") {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												} else {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												}
											});
						});
	</script>
</body>
</html>