<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/estiloGlobal.css">
<title>Juanita Jo | Registrate</title>
</head>

<body>
	<div class="contengoTodo">

		<header>
			<div class="contenedorLogoMenu">
			<a href="/home"><img id="logo" src="/img/logo.png" alt="Juanita Jo - Logo"></a></div>
			<div class="contenedorMenu">
           <nav>
          <a href="/usuarios/all">CLIENTES</a>
          <a href="/productos/all">PRODUCTOS</a>
          <a href="/faq">FAQ</a>
          <a href="/contact">CONTACTO</a>
          <a href="/carrito">CARRITO</a>
          </nav>
			</div>
		</header>


		<main class="centrameElRegistro">
			<h1>REGISTRATE</h1>

			<section class="contieneRegistro">

				<div class="contieneImgRegistro">
					<img src="/img/imgregistro.jpg" alt="Juanita Jo - Registro">
				</div>

				<div class="contieneFormRegistro">
					<form class="formRegistro" method="POST" th:action="@{/usuarios/add}" th:object="${usuario}"> <!--  solo se aclara action si se debe redirigir a otro sitio.-->
						<h2>
						<a href="/login">¿Ya tenés cuenta? ¡Iniciá Sesión!</a>
						</h2>
						<h3>Datos Personales</h3>
						<p>
					 	<label for="nombre"> Nombres </label> 
						<input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresá tus nombres" required>  
						<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="apellido"> Apellido </label> 
						<input th:field="*{apellido}" id="apellido" type="text" placeholder="Ingresá tus nombres" required>  
						<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="nacimiento"> Fecha de nacimiento </label> 
						<input th:field="*{fechaDeNacimiento}" id="fechaDeNacimiento" type="date" placeholder="Ingresá tu Fecha de Nacimiento" min="1900-01-01" max="2000-12-31" required>  
						<span th:if="${#fields.hasErrors('fechaDeNacimiento')}" th:errors="*{fechaDeNacimiento}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
							<label for="nacionalidad"> País de nacimiento </label> <select
								name="nacionalidad" id="nacionalidad" required>
								<option value="void">Seleccioná uno</option>
								<option value="arg">Argentina</option>
								<option value="bol">Bolivia</option>
								<option value="bra">Brasil</option>
								<option value="chi">Chile</option>
								<option value="uru">Uruguay</option>
							</select> 						
							<span th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="dni"> DNI (Sin separadores) </label> 
						<input th:field="*{dni}" id="dni" type="number" placeholder="Ingresá tu DNI" required>  
						<span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<h3>Datos de Contacto</h3>

						<p>
						<label for="domicilio"> Domicilio (Calle y Altura, Localidad y Código Postal, Provincia, País) </label>
						</p>
						<p>
						<input th:field="*{domicilio}" id="domicilio" type="text" placeholder="Privet Dr. 4 L. Whinging, Surrey SE16, Londres, Inglaterra." required>  
						<span th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="telFijo"> Teléfono Fijo (Código de área + número) </label> 
						<input th:field="*{telFijo}" id="telFijo" type="number" placeholder="541142223333" required>  
						<span th:if="${#fields.hasErrors('telFijo')}" th:errors="*{telFijo}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="telCelular"> Teléfono Celular (Código de área + número) </label> 
						<input th:field="*{telCelular}" id="telCelular" type="number" placeholder="5491142223333" required>  
						<span th:if="${#fields.hasErrors('telCelular')}" th:errors="*{telCelular}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<h3>Creación de Usuario</h3>

						<p>
						<label for="mail"> Dirección de correo electrónico (e-mail) </label> 	
						<input th:field="*{mail}" id="mail" type="email" placeholder="unmail@unmail.com" required>  
						<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="contrasenia"> Contraseña </label> 
						<input th:field="*{contrasenia}" id="contrasenia" type="password" placeholder=" " required>  
						<span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>
						<p>
						<label for="contrasenia2"> Confirmar Contraseña </label> 
						<input id="contrasenia2" type="password" placeholder=" " name="contrasenia2" required>  
						<span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" style="color: red; font-size: .8em;" class="errorNombre"></span>
						</p>

						<!--   gregar otros campos requeridos por el der-->
						<h3>Suscribite</h3>

						<p>
							<label for="suscripcion"> ¿Querés suscribite a nuestro
								newsletter? (Podés desuscribirte cuando quieras)</label>
						</p>
						<p>
							<input id="suscribirmeCheck" type="checkbox" name="sus"
								value="suscribime"> Dale!
						<p>
							<label for="tipoDeSuscripcion">Me interesaría recibir info de...</label> 
							<input type="radio" name="gustos" value="suscarte"> Carteras 
							<input type="radio" name="gustos" value="susmochi"> Mochilas 
							<input type="radio" name="gustos" value="susbille"> Billeteras 
							<input type="radio" name="gustos" value="sustodo"> Todo
						</p>
						<p>
							<button class="botonRegistrar" type="submit" name="guardar" value="enviar">Enviar</button>
							<button class="botonBorrar" type="reset" name="borrar" value="borrar">Vaciar</button>
						</p>
					</form>
				</div>
			</section>

		</main>
		<footer>
			<div class="footerIconitosBellos">
				<div class="footercontengoIconitosBellos">
					<div class="contengoIconitoFooter">
						<img src="/img/footer1.jpg" alt="Envío a domicilio a todo el país">
						<p class="pIconitos">
							<span>ENVÍOS A TODO EL PAÍS</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer2.jpg" alt="Encontrá todas nuestras tiendas">
						<p class="pIconitos">
							<span><a href="contact.html#sucursales">ENCONTRÁ NUESTRAS TIENDAS</a></span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer3.jpg" alt="Formá parte de Juanita Jo">
						<p class="pIconitos">
							<span>FORMÁ PARTE DE JUANITA JO</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="/img/footer4.jpg" alt="Contacto Mayoristas">
						<p class="pIconitos">
							<span>CONTACTO PARA MAYORISTAS</span>
						</p>
					</div>
				</div>
			</div>

			<div class="contengoTodoLoDemásDelFooter">

				<div class="footerSeguinos">
					<div class="contengoFooterSeguinos">

						<h3>GRACIAS POR VISITARNOS</h3>
						<h4>REDES SOCIALES</h4>
						<nav>
							<a href="https://www.facebook.com/juanitajofan"><i
								class="fab fa-facebook"></i></a> <a
								href="https://www.instagram.com/juanitajooficial"><i
								class="fab fa-instagram"></i></a> <a
								href="https://twitter.com/juanitajook"><i
								class="fab fa-twitter"></i></a> <a
								href="https://api.whatsapp.com/send?phone=541128862455"><i
								class="fab fa-whatsapp"></i></a>
						</nav>
						<a href="perfilCliente.html#suscribite">Suscribite a nuestro
							Newsletter</a>
						<form class="suscribiteMini"
							action="perfilCliente.html#suscribite" method="post">
							<input class="inputEmailSus" type="email" name="email" value=""
								placeholder="tumail@mail.com" required>
							<button class="botonSuscribir" type="submit">Enviar</button>
							</p>
							<p class="pSuscribir">
								<span class="errorEmailSus"></span>
							</p>
						</form>
					</div>

				</div>


				<div class="footerMapaDelSitio">
					<div class="contengoFooterMapaDelSitio">
<ul>
						<h3>MAPA DEL SITIO</h3>
							<li><a href="/home"> HOME</a></li>
							<li><a href="/faq"> FAQ</a></li>
							<li><a href="/usuarios/add"> REGISTRATE</a></li>
							<li><a href="/login"> LOGIN</a></li>
							<li><a href="/contact"> CONTACTO</a></li>
							<li><a href="/perfilCliente"> MI PERFIL</a></li>
						</ul>
					</div>
				</div>

				<div class="footerInfo">
					<div class="contengoFooterInfo">
						<p>Juanita Jo es una marca registrada, © 2019.</p>
						<p>
							<a href="https://juanitajo.com">https://juanitajo.com</a>
						<p>Diseño y desarrollo por TUVI!</p>
					</div>
				</div>
		</footer>
	</div>
	</div>
<!-- 
	<script>
		 window.addEventListener("load",	function() {
			var botSuscribir = document.querySelector("button.botonSuscribir");
			botSuscribir.addEventListener('click',	function(evento) {
												var email = document
														.querySelector("input.inputEmailSus");
												var errorEmail = document
														.querySelector("span.errorEmailSus");
												var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

												if (regexEmail
														.test(email.value)) {
													errorEmail.innerHTML = "";
													email.style.border = "1px solid grey";
													errorEmail.style.color = "green";
													posiblesErrores = false;
													if (checkBoxR.checked == true) {
														var rememberEmail = email.value;
													}
												} else if (email.value == "") {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												} else {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												}
											});
						});
	</script>
 -->
</body>
</html>