@media screen and (max-width: 480px){ /*PARA CELULAR*/
  .contenedorLogoMenu img{
    width: 96%;
    margin-top: 5%;
  }
  #domicilio{
    width: 90%;
  }
  div.selectProductos select{
    font-size: 1.25em;
  }
  div.selectProductos select option{
    font-size: 1em;
  }
  article.previewUnProducto, img.imgPreviewProducto {
    width: 46%;
  }
  textarea#escribinosText {
    width: 98%;
    height: 100px;
  }
  li a {
    font-size: .8em;
  }
  .popUp{
    background-image: url(../img/carta.png);
    background-repeat: no-repeat;
    height: 11%;
    position:fixed;
    right: 45%;
    bottom: 15px;
    opacity: 0.35;
    z-index: 999;
    width: 20%;
  }
  .popUp:hover{
    height: 15.5%;
    opacity: 1;
    transition: 2s;
  }
  footer {
  /*  text-align: center;*/
    overflow: hidden;
    padding: 2%;
    font-size: 1.1em;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: grey 1px solid;
  }
  .contengoIconitoFooter img{
    width: 85%;
  }

  footer nav{
    margin-bottom: 3%;
  }
  footer input{
    width: 60%;
  }

  .contengoTodoLoDem치sDelFooter{
    overflow: hidden;
  }

  .footerSeguinos{
  float:left;
  width: 98%;
  }
  .contengoFooterSeguinos{
    text-align: center;
      padding:3%;
    }
  .footerMapaDelSitio {
    float:left;
    width: 98%;
  }
  .footerMapaDelSitio ul {
    padding: 0px;
  }
  .contengoFooterMapaDelSitio{
    text-align: center;
    padding:3%;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
   }
  .footerInfo{
    float:left;
    width: 98%;
  }
  .contengoFooterInfo{
    text-align: center;
     font-style: italic;
     font-size: .75em;
     padding:3%;
   }
   footer h3, footer li{
     font-size: .8em;
   }
}

@media screen and (min-width: 481px){/*PARA WEB... NO SOBREESCRIBIR PROPIEDADES DENTRO Y FUERA DE MEDIAQ EN EL CSS!*/
  textarea#escribinosText {
      width: 99.5%;
    height: 200px;
  }
  .contenedorLogoMenu img{
    margin-top: 2%;
  }
  article.previewUnProducto {
    width: 29%;
  }
  #domicilio{
    width: 50%;
  }
  div.selectProductos select{
    font-size: 1.5em;
  }
  div.selectProductos select option{
    font-size: 1em;
  }
  .contieneImgRegistro, .contieneImgLogin, .contieneFormRegistro, .contieneFormLogin{
    float: left;
    width: 48%;
  }
  .contieneImgLogin{
      border-right: lightgrey 1px solid;
  }
  .contieneFormRegistro{
      border-left: lightgrey 1px solid;
  }
  .popUp{
    background-image: url(../img/carta.png);
    background-repeat: no-repeat;
    height: 11%;
    position:fixed;
    right: 10px;
    bottom: 15px;
    opacity: 0.35;
    z-index: 999;
  }
  .popUp:hover{
    height: 13.25%;
    opacity: 1;
    transition: 2s;
  }
  footer {
    overflow: hidden;
    padding: 1%;
    font-size: 1.25em;
    /*text-align: center;*/
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-top: grey 1px solid;
  }
  .contengoIconitoFooter img{
    width: 18%;
  }

  footer nav{
    margin-bottom: 3%;
  }
  footer input{
    width: 60%;
  }

  .contengoTodoLoDem치sDelFooter{
    overflow: hidden;
  }

  .footerSeguinos{
  float:left;
  width: 33%;
  }
  .contengoFooterSeguinos{
    text-align: center;
      padding:3%;
    }
  .footerMapaDelSitio {
    float:left;
    width: 33%;
  }
  .footerMapaDelSitio ul {
    padding: 0px;
  }
  .contengoFooterMapaDelSitio{
    text-align: center;
    padding:3%;
      border-right: 1px solid lightgrey;
      border-left: 1px solid lightgrey;
   }
  .footerInfo{
    float:left;
    width: 33%;
  }
  .contengoFooterInfo{
    text-align: center;
     font-style: italic;
     font-size: .75em;
     padding:3%;
   }
   footer h3{
     font-size: 1em;
   }
}

body { /*por default, para q no quede todo pegado a los bordes, css me da un margin predeterminado. para eliminarlo al principio del CSS pongo margin y paddin 0 */
  margin: 0 auto;
  padding: 0;
  font-family: Oswald;
  /*font-weight: bold;*/
  background-color: white;
  color: black;
}

div.contengoTodo{
  background-image: url(../img/fondito.jpg);
  background-repeat: repeat;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
}

header {/*lo primero de la estructura es un header. por ser un div de bloque, midel el 100% del ancho x lo tanto no hace falta decirle cuanto tiene q ocupar  */
  overflow: hidden;
  text-align: justify;
  background-color: white;
  padding: 1%;
  margin: 0 auto;
}

.carritoMenu{
  width: 20px; fijarme si lo puedo pasar a %
  /*  background-image: url(../img/carrito.png);*/
}
/*.carritoMenu:hover{
background-image: url(../img/carritoB.png);
}*/
.contenedorLogin{
  margin: 0 auto;
  text-align: right;
  border-bottom: lightgrey 1px solid;
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
}

.contenedorLogoMenu{
  /*margin: 0 auto;*/
  text-align: center;
}

.contenedorMenu{
  margin: 0 auto;
  text-align: center;
}
/*ader img #logo { el header, q adentro tiene una img con id logo
width: 20%;
margin-left: 10px;
}*/

header nav{ /*el header q adentro tiene un nav (q por default es display block).. la etiqueta img es de linea pero el nav es de bloque (y necesita ocupar el 100% de su padre).*/
  display: inline-block;
  /*  float:right;  la img ya la tengo a la izq pero quiero el menu a la derecha*/
  margin-top: 2%; /* para posicionarlo mas abajo en el header*/
}

main{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5%;

}
main.contenedorProductos {
  overflow: hidden;
  /*background-color: rgba(255, 255, 255, 0.75);*/
}
main.centrameElRegistro {
  text-align: center;
  overflow: hidden;
  margin-top: 30px;
}
main.centrameElContacto {
  text-align: left;
  overflow: hidden;
  margin-top: 30px;
}
main.centrameElLogin {
  text-align: center;
  overflow: hidden;
  margin-top: 30px;
}
main.centrameElFAQ {
  text-align: left;
}

.contieneImgRegistro img,.contieneImgLogin img{
  width: 95%;
  margin: 2%;
}
.contieneRegistro{
  overflow: hidden;
}

.contieneRegistro, .contieneContacto, .contieneLogin{
  margin: 1%;
  padding: 1%;
}

h1 {
  font-size: 2em;
  font-family: 'Oswald', cursive;
  text-align: center;
  border-bottom: grey 1px solid;
  /*margin: 1%;*/
  margin: 0 auto;
}

.h1Menu {
  /*background-color: white;*/
  margin: 0 auto;
}

h2{
  font-size: 1.3em;
  font-family: 'Oswald', cursive;
}
.h2FAQ{
  padding-left: 10px;
  border-bottom: lightgrey 1px solid;
  text-transform: uppercase;
}
.h2Contact{
  border-bottom: lightgrey 1px solid;
}
.h2MENU{
  border-bottom: lightgrey 1px solid;
  padding-left: 10px;
  text-transform: uppercase;
}
.h2Client{
  text-align: center;
}

article.previewUnProducto h2{
  float: left;
  font-size: 1.2em;
}

section.previewDeProductos h2{
  text-transform: uppercase;
}

.texDelProducto h2{
  margin-block-start: 0px;
  padding-left: 10px;
  border-bottom: grey 1px solid;
}
.answerFAQp{
  margin-left: 3%;
  margin-right: 3%;
}
p {
  font-size: 1.25em;
}
ul{
  font-size: 1.25em;
}
li {
  list-style-type: none;
}

ul li.answerFAQp{
  list-style-type: disc;
}

.coloresProducto{
  overflow: hidden;
}

.colorcito{
  float: left;
  margin: 2px;
}

form h3{
  border-bottom: lightgrey 1px solid;
}

h3{
  font-size: 1.1em;
}

h4{
  margin: 0 auto;
  font-size: 0.8em;
}
.mainClientProfile{
  margin-bottom: 20px;
}

.linksProfile{
  font-size: 1.75em;
}
a:hover{
  color:violet;
}

div.selectProductos select, select.contieneContacto {
  width: 100%;
  height: 60px;
  /*background-color: white;*/
  font-family: Oswald;
  border-top: 0px;
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
  margin-top: 2px;
}

select:focus{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

div.carrousel img{ /*por ser un div, el carrousel ya ocupa el 100% del ancho, el problema es el tama침o de la imagen*/
  width: 100%;
  /*  filter:grayscale(100%);*/
}
div.carrousel img:hover{ /*por ser un div, el carrousel ya ocupa el 100% del ancho, el problema es el tama침o de la imagen*/
  transition: 2s;
  /*  filter:grayscale(0%);*/
}
section.previewDeProductos {
  overflow: hidden;
}

article.previewUnProducto {
  display: inline-block; /*para q me deje ponerlos uno al lado del otro sin q dejen de ser bloques
  background-color: white;*/
  float: left;
  margin: 1%;
  padding: 1%;
  background-color: white;
}

img.imgPreviewProducto{
  width: 98%;
  float: left;
}

article.previewUnProducto p.price {
  font-size: 1em;
  display: inline-block;
  float: left;
}

article.previewUnProducto p{
  float: left;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

article.productoDetalle {
  display: inline-block; /*para q me deje ponerlos uno al lado del otro sin q dejen de ser bloques*/
  width: 95%;
  background-color: #e4fc28;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

article.productoDetalle img{
  float: left;
}
article.productoDetalle a{
  float: right;
  margin-left: 15px;
  text-decoration: none;
  background-color: violet;
  height: 22px;
  width: 120px;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  padding: 6px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.describimeProducto{
  overflow: hidden;
  margin-bottom: 25px;
  box-sizing: border-box;

}

.imgDelProducto{
  float: left;
}

.texDelProducto{
  width: 45%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  right: 50px;
  margin-left: 20px;
}

.texDelProducto p{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  font-size: 1em;

}
.texDelProducto span {
  font-size: 1em;
  padding-left: 10px;
}
.texDelProducto form {
  padding-left: 10px;
}

.botonRegistrar, .botonLoguear, .botonBorrar{
  font-size: 1.5em;
  background-color: violet;
  border-radius: 10px;
  padding:10px;
  font-family: 'Oswald', cursive;
  border: 0px solid transparent;
}
.botonSuscribir{
  font-size: 1em;
  background-color: violet;
  border-radius: 3px;
  padding-left:4px;
  padding-right:4px;
  font-family: 'Oswald', cursive;
  border: 0px solid transparent;
}
.pSuscribir{
  font-size: 1em;
  margin:0 auto;
}
.describimeCarrito{
  overflow: hidden;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.imgDelCarrito{
  float: left;
  width: 50%;
}

.texDelCarrito{
  width: 45%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;

}

.texDelCarrito span {
  font-size: 1em;
}

button.laCompro{
  float: right;
  position: relative;
  font-size: 1.75em;
  background-color: violet;
  border-radius: 8px;
  padding:5px;
  font-family: 'Oswald', cursive;
  border: 0px solid transparent;
}
button.laCompro:hover{
  background-color: purple;
}
button.laQuiero{
  float: right;
  /*  position: relative;
  position: absolute;
  bottom: 10px;
  right: 50px;*/
  font-size: 35px;
  background-color: violet;
  border-radius: 10px;
  padding:6px;
  font-family: 'Oswald', cursive;
  border: 0px solid transparent;
  margin-top: 20px;
}
button:hover{
  background-color: purple;
}
i{
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

article.previewUnProducto a.verMas{
  display: inline-block;
  float: right;
  right: 10px;
  padding: 5px;
  background-color: violet;
  border-radius: 5px;
  font-family: 'Oswald', cursive;
  font-size: 1em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

article.previewUnProducto a.verMas:hover{
  background-color: purple;
  cursor: pointer;
}
footer div.footerMapaDelSitio a{
  font-size: 1em;
}
header nav a{ /* el header q tiene un nav y dentro links*/
  margin-right: 5px;
  margin-left: 5px; /* para generar espacio entre cada link. uso margin rigth pq aprovecho y separo al ultimo de lavegador*/
  font-size: 18px;
}

header nav a:hover{
  color: violet;
}
.contieneRegistro a:hover, a.linksProfile:hover{
  color: violet;
}
footer a:hover {
  color: violet;
}



.footerIconitosBellos{
  font-size: .75em;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgrey;
}
.footercontengoIconitosBellos{
  width:98%;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
}
.contengoIconitoFooter{
float: left;
width: 25%;
text-align: center;
}
.contengoIconitoFooter img, .pIconitos{
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}


/*footer p{
}
footer a, .contieneRegistro a, a.linksProfile{
}*/