<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/estiloGlobal.css">
<title>Juanita Jo | E-Commerce</title>
</head>

<body>
	<div class="contengoTodo">
		<header>
			<div class="contenedorLogin">
				<a class="linkLoginMenu" th:href="@{http://localhost:50/login.html}">INICIAR SESIÓN</a>
			</div>
			<div class="contenedorLogoMenu">
		<a th:href="@{http://localhost:50/home.html}"><img id="logo" src="/img/logo.png" alt="Juanita Jo - Logo"></a></div>
			<div class="contenedorMenu">
          <nav>
          <a th:href="@{http://localhost:50/registroClientes/add}">CLIENTES</a><a th:href="@{http://localhost:50/registroProductos/add}">PRODUCTOS</a><a th:href="@{http://localhost:50/faq.html}">FAQ</a><a th:href="@{http://localhost:50/contact.html}">CONTACTO</a><a class="carritoMenu" th:href="@{http://localhost:50/shoppingCart.html}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </nav>
			</div>
		</header>

	<main class="contenedorProductos" align="center">	
	<img class="" src="../img/error.png" alt="Hola soy una imágen de error.">
	<h2>Lo siento, Error Interno del Servidor. (ERROR 500)</h2>
	</main>
		<!-- 
		<main class="contenedorProductos">
			<h1 class="h1Menu">PRODUCTOS</h1>
			<div class="selectProductos">
				<form class="listaDeProductos" action="" method="post">
					<select name="listaProductos" onchange="location = this.value;">
						<option class="" value="">SELECCIONÁ UNA CATEGORÍA</option>
						<option value="#mochilas">MOCHILAS</option>
						<option value="#carteras">CARTERAS</option>
						<option value="#billeteras">BILLETERAS</option>
					</select>
				</form>

			</div>

			<section class="previewDeProductos" id="mochilas">
				<h2 class="h2MENU">Mochilas</h2>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/mochila1a.jpg"
						alt="producto">
					<h2>Mochila Gerdenia</h2>
					<p class="price">$ 6.500 ARS</p>
					<a class="verMas" href="shoppingCart"><i class="fa fa-search"
						aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/mochila2a.jpg"
						alt="producto">
					<h2>Mochila Yvaral</h2>
					<p class="price">$ 5.900 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/mochila3a.jpg"
						alt="producto">
					<h2>Mochila Riley</h2>
					<p class="price">$ 6.900 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
			</section>

			<section class="previewDeProductos" id="carteras">
				<h2 class="h2MENU">Carteras</h2>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/cartera1a.jpg"
						alt="producto">
					<h2>Cartera Klimt</h2>
					<p class="price">$ 5.500 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/cartera2a.jpg"
						alt="producto">
					<h2>Cartera Botero</h2>
					<p class="price">$ 6.500 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/cartera3a.jpg"
						alt="producto">
					<h2>Cartera Casorati</h2>
					<p class="price">$ 5.900 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
			</section>

			<section class="previewDeProductos" id="billeteras">
				<h2 class="h2MENU">Billeteras</h2>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/billetera1a.jpg"
						alt="producto">
					<h2>Billetera Casual</h2>
					<p class="price">$ 2.700 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/billetera2a.jpg"
						alt="producto">
					<h2>Billetera Pocket</h2>
					<p class="price">$ 2.900 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
				<article class="previewUnProducto">
					<img class="imgPreviewProducto" src="img/billetera3a.jpg"
						alt="producto">
					<h2>Billetera Slim</h2>
					<p class="price">$ 2.700 ARS</p>
					<a class="verMas" href="productDetail.html"><i
						class="fa fa-search" aria-hidden="true"></i> Quiero</a>
				</article>
			</section>
		</main> 
		-->

		<footer>
			<div class="footerIconitosBellos">
				<div class="footercontengoIconitosBellos">
					<div class="contengoIconitoFooter">
						<img src="../img/footer1.jpg" alt="Envío a domicilio a todo el país">
						<p class="pIconitos">
							<span>ENVÍOS A TODO EL PAÍS</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="../img/footer2.jpg" alt="Encontrá todas nuestras tiendas">
						<p class="pIconitos">
							<span><a href="contact.html#sucursales">ENCONTRÁ NUESTRAS TIENDAS</a></span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="../img/footer3.jpg" alt="Formá parte de Juanita Jo">
						<p class="pIconitos">
							<span>FORMÁ PARTE DE JUANITA JO</span>
						</p>
					</div>
					<div class="contengoIconitoFooter">
						<img src="../img/footer4.jpg" alt="Contacto Mayoristas">
						<p class="pIconitos">
							<span>CONTACTO PARA MAYORISTAS</span>
						</p>
					</div>
				</div>
			</div>

			<div class="contengoTodoLoDemásDelFooter">

				<div class="footerSeguinos">
					<div class="contengoFooterSeguinos">

						<h3>GRACIAS POR VISITARNOS</h3>
						<h4>REDES SOCIALES</h4>
						<nav>
							<a href="https://www.facebook.com/juanitajofan"><i
								class="fab fa-facebook"></i></a> <a
								href="https://www.instagram.com/juanitajooficial"><i
								class="fab fa-instagram"></i></a> <a
								href="https://twitter.com/juanitajook"><i
								class="fab fa-twitter"></i></a> <a
								href="https://api.whatsapp.com/send?phone=541128862455"><i
								class="fab fa-whatsapp"></i></a>
						</nav>
						<a href="perfilCliente.html#suscribite">Suscribite a nuestro
							Newsletter</a>
						<form class="suscribiteMini"
							action="perfilCliente.html#suscribite" method="post">
							<input class="inputEmailSus" type="email" name="email" value=""
								placeholder="tumail@mail.com" required>
							<button class="botonSuscribir" type="submit">Enviar</button>
							</p>
							<p class="pSuscribir">
								<span class="errorEmailSus"></span>
							</p>
						</form>
					</div>

				</div>


				<div class="footerMapaDelSitio">
					<div class="contengoFooterMapaDelSitio">

						<ul>
							<h3>MAPA DEL SITIO</h3>
							<li><a th:href="@{http://localhost:50/home.html}"> HOME</a></li>
							<li><a th:href="@{http://localhost:50/faq.html}"> FAQ</a></li>
							<li><a th:href="@{http://localhost:50/registroClientes/add}"> REGISTRATE</a></li>
							<li><a th:href="@{http://localhost:50/login.html}"> LOGIN</a></li>
							<li><a th:href="@{http://localhost:50/contact.html}"> CONTACTO</a></li>
							<li><a th:href="@{http://localhost:50/perfilCliente.html}"> MI PERFIL</a></li>
						</ul>
					</div>
				</div>

				<div class="footerInfo">
					<div class="contengoFooterInfo">
						<p>Juanita Jo es una marca registrada, © 2019.</p>
						<p>
							<a th:href="@{https://juanitajo.com}">https://juanitajo.com</a>
						<p>Diseño y desarrollo por TUVI!</p>
					</div>
				</div>
		</footer>
	</div>
	</div>

	<script>
		window.addEventListener("load",	function() {
							var imagenes = [ "img/carrousel1.jpg",
									"img/carrousel2.jpg", "img/carrousel3.jpg" ];
							var indice = 0;
							var traemeIMG = document
									.querySelector("img.carrouselLoco");
							function timerCarrousel() {
								indice = indice + 1;
								traemeIMG.src = imagenes[indice];
								if (indice >= imagenes.length) {
									indice = 0;
									traemeIMG.src = imagenes[indice];
								}
							}
							var timer = setInterval(timerCarrousel, 3000);
							var botSuscribir = document
									.querySelector("button.botonSuscribir");

							botSuscribir
									.addEventListener(
											'click',
											function(evento) {
												var email = document
														.querySelector("input.inputEmailSus");
												var errorEmail = document
														.querySelector("span.errorEmailSus");
												var regexEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

												if (regexEmail
														.test(email.value)) {
													errorEmail.innerHTML = "";
													email.style.border = "1px solid grey";
													errorEmail.style.color = "green";
													posiblesErrores = false;
													if (checkBoxR.checked == true) {
														var rememberEmail = email.value;
													}
												} else if (email.value == "") {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email es <strong>obligatorio</strong>.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												} else {
													evento.preventDefault();
													errorEmail.innerHTML = "Tu email <strong>no</strong> es válido.";
													email.style.border = "1px solid red";
													errorEmail.style.color = "red";
													posiblesErrores = true;
												}
											});
						});
	</script>
</body>
</html>